/* Color */
$white:white;
// Font Weight
$font-regular: 400;
$font-bold: 700;
// Font Sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 24px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;