//Color scheme
//First color scheme
$white: #FFF;
$platinum:#E8E8E8;
$gray: #BABABA;
// Second Color Scheme
$carmine-pink: #E94F37;
$salmon: #EF7F6D;
$spanish-pink: #F7BFB6;
//Third Color Scheme
$black-olive: #393E41;
$granite-gray: #5D6163;
$old-silver: #818486;
// Fourth Scheme
$verdigris: #44BBA4;
$medium-aquamarine: #66C7B4;
$perl-aqua: #88D3C5;

//Font Family
$playfair: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;

// Typography
// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Sizes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;