body{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
body * {
    margin: 0;
    border: 0;
    padding: 0;
}
    
.titulo{
    text-align: center;
    font-weight: 500;
}

.descipcion-gen{
    display: inline-block;
    width: 75%;
    margin: 0 550px;
}
.descipcion-txt{
    display: inline-block;
    width: 25%;
    text-align: justify;
    margin: 0 50px;
}


.foto{
    width: 300px;
    height: 300pxx;
}

.iconos{
    background: #1E1A13;
    padding: 40px 40px;
}

.p1, .p2, .ic1, .ic2, .ic3, .fotos{
    display: inline-block;
    margin: auto 230px;
    padding: 10px 10px;
}

.iconos h2{
    text-align: center;
    font-weight: 300;
}



.foto1, .foto2, .foto3{

    width: 500px;
    height: 500pxx;
    
    margin: 0 auto;
}

footer{
    text-align: center;
    background: #1E1A13;
    padding: 50px 50px;
}
footer a{
    text-decoration: none;
}




