.box{
    display: inline-block;
    width: 25%;
    padding: 5px;
    height: max-content;
    text-align: center;
    box-sizing: border-box;
    /* Para corregir bug de la vista */
    margin-right: -5px;
}
img{
    width: 100%;
}
.navbar{
    background-color:green ;
    position: fixed;
    margin-top:-16px;
    width: 150%;
}

