//Color scheme
$white: #FFF;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
$nickel: #7e8e9e;
$blue:#24D9D4;
$light-blue:#2FFFF9;
// Typography
//Font Family
$playfair: 'Playfair Display',
serif;
$roboto: 'Roboto',
sans-serif;
// Font Weight
$font-light: 300;
$font-regular: 400;
$font-black: 900;
// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;