.header{
    background-color: gray;
}
/* Para dispositivos moviles */
.navigation {
    position: relative;
}
.navigation__logo {
    position: absolute;
    top: .9em;
    left: 2.5em;
}
.collapsible {
    text-align: right;
    label {
        display: block;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-right: 1.5em;
        font-size: 1.8rem;
    }
}
#menu {
    display: none;
}
input:checked ~ .navigation__container {
    max-height: 100%;
}
.navigation__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}
.navigation__list{
    list-style-type: none;
}
.navigation__item {
    a {
        display: block;
        text-align: right;
        padding: .5em;
        font-size: 1.2rem;
        color: black;
        text-decoration: none;
        &:hover {
            color: green;
        }
    }
}
/* Para dispositivos de escritorio */
@media only screen and (min-width: 992px){
    .navigation__logo {
        top: 1em;
        left: 3em;
    }
    .collapsible {
        label {
            display: none;
        }
    }
    .navigation__container {
        max-height: 100%;
        padding: .5em 3em .5em 0;
        overflow: visible;
    }
    .navigation__list {
        display: flex;
        justify-content: flex-end;
        margin: inherit;
        padding: inherit;
    }
    .navigation__item {
        a {
            padding: .5em 1em;
            font-size: 1rem;
        }
    }        
}
        
            