.indice{
    a{
        @extend #{'.page-link', '.bg-light'};
        @extend #{'.page-link', '.text-dark'};
    }
}
.page-item.active .page-link {
    z-index: 1;
    border-color: black;
    background-color: $nickel;
  }
.indice__selector--izquierda{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: yellow;
}
.indice__selector--derecha{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}