main{
    background-image: url("../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 702px;
    h1{
        padding: 200px 150px;
    }
}
