.navegacion-fondo{
    font-family: $roboto;
    font-weight: $font-light;
    font-size: $medium;
}
main{
    color:$white;
    text-align: center;
    h1{
        font-family: $playfair;
        font-weight: $font-black;
        font-style: italic;
        font-size: 70px;
    }
}
.descripcion__title{
    color:$nickel;
    font-family: $playfair;
    font-weight: $font-light;
    font-size: $large;
}
.descripcion__text{
    color:$raisin-black;
    font-family: $roboto;
    font-weight: $font-light;
    letter-spacing: 0.56px;
    line-height: 200%;
    font-size: $medium;
}
.descripcion__button{
    font-family: $roboto;
    font-weight: $font-light;
    font-size: $medium;
}
.persona__title{
    font-family: $playfair;
    font-weight: $font-black;
    font-style: italic;
    font-size: $x-large;
}
.persona__contacto{
    font-family: $roboto;
    font-weight: $font-light;
    font-size: $large;
    color: $ruddy-pink;
}
.persona__texto{
    font-family: $roboto;
    font-weight: $font-light;
    font-size: $small;
    color: $nickel;
}