/* Base Styles */

body {
    height: 100vh;
    background-color: $white;
    box-sizing: border-box;
}


/* Ajuste del hr, division despues de la informacion del autor*/

.division {
    border: 1px solid grey;
}


/* Definir ancho fijo en tamaños grandes */

@media only screen and (min-width: 1200px) {
    body {
        width: 1200px;
        margin: 0 auto;
    }
}