.navegacion-fondo{
    background-color: #121619;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.navegacion__logo{
    width: 78px;
}
.main{
    background-image: url("../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    color: white;
    text-align: center;
    height: 702px;
}
.main h1{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 70px;
    padding: 200px 210px;
}
.descripcion{
    color:#222323B3;
    text-align: left;
}
.descripcion__title{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin-top: 50px;
    font-size: 18px;
}
.descripcion__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 50px;
    letter-spacing: 0.56px;
}
.persona{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}
.persona__image{
    width: 177px;
}
.persona__title{
    padding-top: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
}
.persona__contacto{
    padding: 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #D76C69B2;
}
.persona__texto{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #707070
}
.indice{
    background-color: #E6E7E7;
    color: white;
}
.cierre{
    background-color:black ;
    text-align: center;
    padding: 20px 0;
}
.cierre__logo{
    width: 120px;
}