body{
    text-align: center;
    color: #000f08;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.icono {
    width: 2rem;
    }
.icono svg {
        fill: #ffffff;
}
body *{
    margin: 0;
    border: 0;
    padding: 0;
}
.oscuro {
    background: #000f08;
    color: #ffffff;
    text-decoration: none;
}
.oscuro a{
    color: #ffffff;
    text-decoration: none;
}
.sweet-brown{
    text-align: left;
    background: #a4452c;
    color: #ffffff;
    padding: 50px;
}
.hero-section{
    text-align: right;
    background-image: url('../img/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 2px 3px 2px #707070;
    padding: 50px 50px 250px 50px;
}
section, footer{
    margin-top: 75px;
}
footer{
    padding: 50px;
}
.centrado{
    text-align: center;
}
.charla-texto{
    display: inline-block;
}
.charla-speaker{
    display: inline-block;
}