//Color scheme
//First color scheme
$white: #FFF;
$platinum:#E8E8E8;
$light-gray: #D1D1D1;
// Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
//Third Color Scheme
$earie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;
// Typography
//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;
// Font Weight
$font-light: 300;
$font-regular: 400;
$font-black-italic: 900;
// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;