.author {
    text-align: center;
}

.author__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.author__details {
    padding-left: .8em;
    h2 {
        margin: 0;
        font-size: $medium;
    }
    p {
        margin: 0;
        font-size: $small;
        color: $nickel;
    }
}

.author__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Alineacion para pantallas a partir de 576px Small */

@media only screen and (min-width: 576px) {
    .author__info {
        justify-content: flex-start;
    }
}