.videos__fila {
    display: flex;
    justify-content: center;
}

.videos__imagen {
    height: 135px;
}


/* Modificar clase de bootstrap para quitar el borde del card */

.card {
    border: none;
}