/* .navegacion__icons {
    text-align: right;
    i {
        margin: 0px .5rem;
    }
} */

.navegacion__icons {
    background-color: grey;
    display: flex;
    flex-direction: row-reverse;
}

.item {
    width: 20px;
}

.navegacion__menu {
    background-color: hotpink;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}