:root {
    font-family: monospace;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-size: 3rem;
    align-items: flex-start;
    width: 500px;
}

.item {
    border: 1px solid green;
    background-color: coral;
    color: white;
    box-sizing: border-box;
}

.item-1 {
    flex-basis: 100px;
    flex-grow: 1
}

.item-2 {
    flex-basis: 100px;
    flex-grow: 2
}

.item-3 {
    flex-basis: 100px;
    flex-grow: 1
}

.item-4 {
    flex-basis: 100px;
    flex-grow: 1
}