.footer {
    padding: 10px 0;
    background-color: $black;
    color: $white;
    text-align: center;
    &__menu {
        margin: -20px 0;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                a {
                    text-decoration: none;
                    color: $orange;
                    &:hover {
                        color: hotpink;
                    }
                }
            }
        }
    }
    &__form {
        padding: 0 3px;
    }
}

@media only screen and (min-width: 768px) {
    .footer {
        text-align: left;
        padding: 10px;
        &__menu {
            ul {
                padding: 3px 0;
                li {
                    display: inline;
                    a {
                        padding: 0 3px;
                    }
                }
            }
        }
        input[type="email" i] {
            width: 100px;
        }
    }
}