.author__buttons-blue {
    background-color: $blue;
    color: $white;
    &:hover {
        background-color: $light-blue;
    }
}

.author__buttons-red {
    background-color: $ruddy-pink;
    color: $white;
    &:hover {
        background-color: $spanish-pink;
    }
}