/* Sobreescribir margen del documentos */

* {
    margin: 0;
}


/* Sobreescribir el margen negativo del wrapper */

body>div.wrapper.row {
    margin: 0;
}


/* definir el tamaño máximo de las imágenes al 100% */

img {
    max-width: 100%;
}