//Color scheme
$white: #FFFFFF;
$black: #000000;
$sable: #060606;
$charcoal: #2E1503;
$tangerine: #FFAF6D;
$orange: #FFA500;
// Typography
//Font Family
$poppins: 'Poppins',
sans-serif;
$ubuntu: 'Ubuntu',
sans-serif;
// Font Weight
$regular: 400;
$bold: 700;
// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;