.footer__enviar {
    background-color: $orange;
    &:hover {
        background-color: $white;
    }
}

.footer__input-mail {
    background-color: $white;
    &:hover {
        background-color: $orange;
    }
}