/* Main Layout */
.main{
    position: absolute;
    left: 50%;
    top: 9.5vh;
    transform: translateX(-50%);
}
.main__container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__title{
    color: $white;
    text-align: center;
}
.main__title-emphasis{
    font-family: $playfair;
    font-weight: $bold;
}
.main__title-emphasis--size-xxl{
    font-size: $xxxx-large;
}
.main__button{
    margin: -20px;
}