.navegacion__icons {
    display: flex;
    align-content: flex-end;
    i {
        margin: 0px .3rem;
    }
}


/* Modificando la hamburguesa de bootstrap para que no tenga borde */

.navbar-light .navbar-toggler {
    border: none
}


/* Para media a partir de 720 para Medium */

@media (min-width: 720px) {
    .navegacion__icons {
        i {
            margin: 0px .5rem;
        }
    }
}