/* Color */
/* Reset */
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Base Styles */
body {
  height: 100vh;
  background-color: white;
  box-sizing: border-box;
}

.navbar {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.navbar__logo {
  font-size: 24px;
  font-weight: 700;
}

.main-section h2 {
  font-size: 18px;
}

.main-section__panel {
  text-align: left;
}
.main-section__panel h1 {
  font-size: 18px;
}
.main-section__panel p {
  font-size: 14px;
}

.main-section__tags ul li {
  font-size: 12px;
}

.main-section__destacados h4 {
  font-size: 14px;
}

.subscribe {
  text-align: center;
}
.subscribe button {
  color: white;
}
.subscribe h2 {
  font-size: 18px;
}

.footer {
  text-align: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  .navbar {
    font-size: 12px;
  }
}
/* Container */
/* Para moviles, por defeecto*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*======================================================================
==== */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Col */
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navbar {
  border-bottom: 1px solid gray;
}

.navbar__logo {
  padding: 7%;
}

.navbar__menu {
  text-align: right;
}
.navbar__menu ul li {
  display: inline-block;
  padding: 5px;
}
.navbar__menu ul li a {
  text-decoration: none;
  color: black;
}

.navbar__item--notmobile {
  display: none;
}

.navbar__item-input {
  border-radius: 25px;
}

@media (min-width: 768px) {
  .navbar__logo {
    padding: 3%;
  }

  .navbar__item--notmobile {
    display: initial;
  }
}
.main-section {
  text-align: center;
}

.main-section__panel--notmobile {
  display: none;
}

.main__contenido {
  padding-right: 10px;
}

.main-section__img {
  width: 90%;
  height: 300px;
}

.main-section__panel {
  padding-left: 10px;
}

.main-section__nosotros {
  border-bottom: 2px solid grey;
}

.main-section__tags {
  border-bottom: 2px solid grey;
}
.main-section__tags ul {
  list-style: none;
}
.main-section__tags ul li {
  display: inline-block;
  padding: 1px;
  background-color: blue;
  color: white;
}

.main-section__img-destacados {
  width: 100%;
  height: 200px;
}

@media (min-width: 768px) {
  .main-section__panel--notmobile {
    display: initial;
  }

  .main-section__img {
    width: 90%;
    height: auto;
  }
}
.subscribe {
  background: cadetblue;
  padding: 10px 0;
}
.subscribe button {
  background: coral;
}

.footer {
  padding: 10px 0;
}

/*# sourceMappingURL=main.css.map */
