body {
    margin: 0;
    padding: 0;
}
.imagen__principal{

    height: 100px;
    width: 100px;
    position: absolute;
}
.imagen__ribbon{
    position: absolute;
    left: 120px;
    top: 120px;
}
.imagen__ribbon--peque{
    width: 100px;
}