.texto-nav{
    font-family: 'Lobster', cursive;
}
.img-size{
    width: 270px;
}
p{
    display: inline;
}
body{
    font-family: 'Open Sans', sans-serif;
}
#enviarCorreo{
    font-family: 'Open Sans', sans-serif;
}
